@import "vars";

body {
    background-color: #e4e4e4;
    &.subscription-sect-five {
        background-color: $subscript-sect-five-bg;
    }

    &.alert {
        background-color: #fff;
    }
}

input {
    border: none;
}