@import "vars";
@mixin font-color($color) {
    color: $color;
}
@mixin font($family, $size, $color) {
    font-family: $family;
    font-size: $size * 1px;

    @include font-color($color);
}

@mixin circle($value) {
    height: $value;
    width: $value;
    border-radius: 100%;
}

@mixin size($width, $height) {
    width: $width;
    height: $height;
}

@mixin alert($bg-color, $text-color) {
    background: $bg-color;

    padding-left: 22px;
    margin-bottom: 20px;
    line-height: 60px;

    position: relative;

    @include size(456px, 60px);
    @include font($secondary-font, 16, $text-color);

    .close-btn {
        position: absolute;
        top: 25px;
        right: 20px;
        transition: all 0.3s linear;
        &:hover {
            cursor: pointer;
            transform: scale(1.5);
        }
    }
}