$body-bg-color: #FAFBFC;

$secondary-font: "Roboto", sans-serif;
$base-font: "Maven Pro", sans-serif;

$dark-text-color: #323C47;
$medium-text-color: #989898;
$base-border-color: #D0D7DD;

$task-title-text-color: #323C47;

$xs-font-size: 12;
$sm-font-size: 14;
$md-font-size: 16;
$lg-font-size: 28;

$price-table-tag-bg: #FFD012;

$alert-info-bg: #F2F8FF;
$alert-info-text-color: #4da1ff;

$alert-success-bg: #F5FFDC;
$alert-success-text-color: #A6E42B;

$alert-warning-bg: #FFF9E2;
$alert-warning-text-color: #F7CB18;

$alert-error-bg: #FFF0ED;
$alert-error-text-color: #FF6D4A;

$icon-bg: #F4F7F9;

$subscript-sect-five-bg: #FC6E4F;