@import "../partials/vars";
@import "../partials/mixins";

label {
    display: inline-block;
    cursor: pointer;
    position: relative;


    input {
        &[type="checkbox"] {
            display: none;

            + .label-text {
                &:before {
                    content: url(../../img/subscribe/unchecked.png);
                    width: 23px;
                    height: 23px;
                    position: absolute;
                    top: 0;
                }
            }

            &:checked {
                + .label-text {
                    &:before {
                        content: url(../../img/subscribe/checked.png);
                        width: 23px;
                        height: 23px;
                    }
                }
            }
        }
    }

    .text {
        margin-left: 40px;
        @include font($secondary-font, $md-font-size, $medium-text-color);
    }
}